<style>
    .active {
        border-bottom: 1px solid red;
    }
</style>

{{ numberOfRows }}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ appName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for link in appService.routesForNavbar %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == link.route ? 'active' : '' }}" aria-current="page"
                           href="{{ path(link.route) }}">{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>