{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ author.firstName }} {{ author.name }}</h1>

    <p>{{ author.bio }}</p>

    <a href="{{ path('author_index') }}">Retour à la liste</a>
{% endblock %}

{% block title %}
    {{ parent() }} - Détails d'un auteur
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            font-size: 24px;
        }
    </style>
{% endblock %}