{% extends 'layout.html.twig' %}

{% block content %}
    {% if errors | length > 0 %}
        <ul class="alert alert-danger">
            {% for item in errors %}
                <li>{{ item.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form_start(authorForm) }}
    <fieldset class="bg-secondary p-3 mb-2">
        <legend>Contact</legend>
        <div class="row">
            <div class="col">
                {{ form_label(authorForm.firstName) }}
                {{ form_widget(authorForm.firstName) }}
                {{ form_errors(authorForm.firstName) }}
            </div>
            <div class="col">
                {{ form_label(authorForm.lastName) }}
                {{ form_widget(authorForm.lastName) }}
                {{ form_errors(authorForm.lastName) }}

            </div>
        </div>
    </fieldset>
    {{ form_end(authorForm) }}
{% endblock %}

{% block title %}

{% endblock %}

