{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des auteurs</h1>

    <p>il y a {{ authorList | length }} auteurs.</p>

    <div class="mt-3 mb-3">
        <a class="btn btn-primary" href="{{ path('author_insert_form') }}">Ajouter un auteur</a>
    </div>

    <table class="table">
        <thead>
        <tr style="color: beige">
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for author in authorList %}
            <tr>
                <td>
                    <a href="{{ path('author_details', {'id': author.id}) }}">

                    <span style="{{ author.id > 3 ? 'font-weight:bold': '' }}">
                        {{ author.firstName | first }}. {{ author.lastName | upper }}
                    </span>

                        {#  {% if author.id > 2 %}
                        {{ author.firstName }} {{ author.name }}
                    {% else %}
                        <strong>{{ author.name }}</strong>
                    {% endif %}
                        #}

                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('author_update_form', {'id': author.id}) }}">Modifier</a>

                    <a class="btn btn-danger" href="{{ path('author_delete', {'id': author.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <p>Il n'y a pas d'auteurs</p>
        {% endfor %}
    </table>
{% endblock %}