{% extends 'layout.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block content %}
    <h1>Teacher index</h1>

    <table class="table text-white">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>DailyRate</th>
            <th>actions</th>
            <th>Skills</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.dateOfBirth ? teacher.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ teacher.dailyRate }}</td>
                <td>{{ teacher.skills | length }}</td>
                <td>
                    <a href="{{ path('app_teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teacher_new') }}">Create new</a>
{% endblock %}
