{% extends 'layout.html.twig' %}

{% block content %}

    <div>
        <a href="{{ path('book_insert_form') }}" class="btn btn-primary mb-3">Ajouter un livre</a>
    </div>
    <table class="table text-white">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Editeur</th>
            <th>Date de publication</th>
        </tr>
        </thead>
        <tbody>
        {% for book in bookList %}
            <tr>
                <td>
                    {{ book.title }}
                </td>
                <td>
                    {{ book.author.fullName }}
                </td>
                <td>
                    {{ book.publisher.name }}
                </td>
                <td>
                    {{ book.publishedAt | date('d/m/Y') }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

