<h2>Liste des tags</h2>
<ul class="list-group mb-2">
    {% for tag in countByTag %}
        <li class="list-group-item">
            <a href="{{ path('blog_byTag', {'id': tag.tag_id}) }}">{{ tag.tagName }} ({{ tag.nb }})</a>
        </li>
    {% endfor %}
</ul>

<h2>Liste des années</h2>
<ul class="list-group mb-2">
    {% for year in countByYear %}
        <li class="list-group-item">
            {{ year.yearPublished }} ({{ year.nb }})
        </li>
    {% endfor %}
</ul>

<h2>Liste des auteurs</h2>
<ul class="list-group">
    {% for item in countByAuthor %}
        <li class="list-group-item"><a href="{{ path('blog_byAuthor', {'id': item.author_id}) }}">{{ item.nickName }}
                ({{ item.nb }})</a>
        </li>
    {% endfor %}
</ul>


