{% extends 'blog_layout.html.twig' %}

{% block content %}
    <h2>A la une</h2>
    <div class="row">
        {% for article in articleList %}
            <div class="p-2 mb-3 col-6">
                <div class="bg-info p-3">
                    <h4>{{ article.title }}</h4>
                    <p>publié le : {{ article.publishedAt | date('d/m/Y') }}<br>
                        par : {{ article.author.nickName }}
                    </p>
                    <p>
                        {{ article.content | slice(0, 20) }}...
                    </p>
                    <a href="{{ path('blog_details', {'id' : article.id}) }}">En savoir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}