{% extends 'blog_layout.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <h3>Concernant {{ crit }}</h3>


    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <td>Auteur</td>
            <td>Date de publication</td>
            <td>Nombre de commentaires</td>
        </tr>
        </thead>
        <tbody>
        {% for article in articleList %}
            <tr>
                <td><a href="{{ path('blog_details', {'id' : article.id}) }}">{{ article.title }}</a></td>
                <td>{{ article.author.nickName }}</td>
                <td>{{ article.publishedAt | date('d/m/Y') }}</td>
                <td>{{ article.comments | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

